.box-space {
    margin: 10px 14px;
}

.otppages input {
    width: 60px !important;
    height: 60px;
    border-radius: 3px;
    border: 2px solid #CECECE ;
    margin: 2px auto;
}

.btnOTP {
    margin-top: 1.5rem;
    float: right;
    width: 70%;
    height: 2.5rem;
    background: #ED5901;
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
  } 
  
  .btnOTPdisabled {
    margin-top: 1.5rem;
    float: right;
    width: 70%;
    height: 2.5rem;
    background: #f59f6e;
    color: #fff;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .btnback {
    margin-top: 1.5rem;
    width: 25%;
    color: #000;
    background-color: #F4F6F7;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }